.idea/workspace.xml
.idea/dictionaries
.idea/misc.xml
.idea/compiler.xml
.idea/vcs.xml
.idea/uiDesigner.xml
# contains user specific settings
.idea/libraries/Dart_Packages.xml

config.dev.ini
nbproject/
composer.phar
.env

